<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="stylesheet" href="/css/index.css">
    </head>
    <body>
        <div class="head-options">
            <div class="return">
                <a href="/coins/new">Return to Collector List</a>
            </div>
        </div>
        <h1><%=collector.username%>'s Collection</h1>
        <div class="coin-container">
            <% for (const coin of collector.coins) { %>
                <div class="coin-individual">
                    <a href="/coins/<%=coin._id%>"><img class='img-link' src=
                        <% if (coin.headImg === '') { %>
                            "https://www.pngall.com/wp-content/uploads/4/Dollar-Gold-Coin-PNG.png"
                        <% } else { %>
                            "<%=coin.headImg%>"
                        <% } %>
                    alt=""></a>
                </div>
            <% } %>
        </div>
    </body>
</html>
