<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="/css/home.css">
    </head>
    <body>
        <div class="home-container">
            <div class="row-one row">
                <img class="img" src="../../images/dimehome.png" alt="">
                <img class="img" src="../../images/nickelhome.png" alt="">
                <img class="img" src="../../images/pennyhome.png" alt="">
                <img class="img" src="../../images/quarterhome.png" alt="">
            </div>
            <div class="row-two row">
                <img class="img" src="../../images/dimehome2.png" alt="">
                <div class="home">
                    <h1>Coin Sharing Collection</h1>
                    <button type="button" name="button"
                        onclick="window.location.href='sessions/new';">Log In
                    </button>
                    <button type="button" name="button"
                        onclick="window.location.href='users/new';">Sign Up
                    </button>
                    <a href="sessions/new">Log In</a>
                    <a href="users/new">Sign Up</a>
                </div>
                <img class="img" src="../../images/nickelhome2.png" alt="">
            </div>
            <div class="row-three row">
                <img class="img" src="../../images/pennyhome2.png" alt="">
                <img class="img" src="../../images/quarterhome2.png" alt="">
            </div>
        </div>




        <!-- <a href="/coins">Browse</a> -->
    </body>
</html>
