<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <a href="sessions/new">Log In</a>
        <a href="users/new">Sign Up</a>
        <a href="/coins">Browse</a>
    </body>
</html>
