<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <a href="/coins/new">Add Coin</a>
        <h1>Coin Index Page</h1>
        <% for (const coin of coinList) { %>
            <a href="/coins/<%=coin.id%>"><img src=
                <% if (coin.headImg === '') { %>
                    "https://www.pngall.com/wp-content/uploads/4/Dollar-Gold-Coin-PNG.png"
                <% } else { %>
                    "<%=coin.headImg%>"
                <% } %>
            alt=""></a>
            <form action="/coins/<%=coin.id%>?_method=DELETE" method="POST">
                <input type="submit" value="Remove Coin">
            </form>
        <% } %>
    </body>
</html>
