<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="stylesheet" href="/css/add.css">
    </head>
    <body>
        <a href="/coins">Return</a>
        <h1><u>New Coin</u></h1>
        <div class="new-coin">
            <form action="/coins" method="POST">
                <div class='form-item'>
                    <label for="name">Coin Type</label>
                    <input type="text" name="name" id="name"/>
                </div>
                <div class='form-item'>
                    <label for="headImg">Image of Head</label>
                    <input type="text" name="headImg" id="headImg"/>
                </div>
                <div class='form-item'>
                    <label for="tailImg">Image of Tail</label>
                    <input type="text" name="tailImg" id="tailImg"/>
                </div>
                <div class='form-item'>
                    <label for="year">Coin Year</label>
                    <input type="number" name="year" id="year" min="1792" max="2021" value="1792"/>
                </div>
                <div id='description' class='form-item'>
                    <div>
                        <label for="desc">Anything you'd like to say about this coin?</label>
                    </div>
                    <div>
                        <textarea name="desc" id="desc"></textarea>
                    </div>
                </div>
                <div class='form-item'>
                    <input type="submit" value="Add Coin"/>
                </div>
            </form>
        </div>
    </body>
</html>
