body {
    background-color: #19a272;
}
h1 {
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    color: #d7d2f2;
}
.new-coin {
    display: flex;
    justify-content: center;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-item {
    margin: 10px;
}
#description {
    display: flex;
    flex-direction: column;
    align-items: center;
}
a {
    color: #5bef71;
    background-color: #9f6a15;
    border: 1px solid #1df24a;
    padding: 2px;
    text-decoration: none;
}
a:hover {
    color: #2e4ce0;
    background-color: #5bef71;
    border: 1px solid #9f6a15;
}
