<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="/css/signup.css">
    </head>
    <body>
        <h1>Sign Up</h1>
        <form action="/users/sign_up" method="POST">
            <label for="username">Username: </label>
            <input type="text" name="username" id="username"/>
            <label for="password">Password: </label>
            <input type="password" name="password" id="password"/>
            <label for="public">Would you like to be publicly visible?</label>
            <input type="checkbox" name="public" id="public"/>
            <input type="submit" value="Submit"/>
        </form>
        <a href="/home">Home</a>
        <a href="/sessions/new">Log In</a>
    </body>
</html>
